body {
  font-family: "AirbnbCerealBook", sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: white;
  opacity: 0.8;
}

.zone-container {
  box-sizing: border-box;
  border: 4px solid white;
  margin: 0.5rem auto;
  width: 1000px;
  height: 700px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.row {
  display: "flex";
  line-height: 32px;
  height: 32px;
}
